h5 {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

button.submit {
    float: right;
}

form#cms {
    margin-top: 50px;
}

#cms textarea {
    resize: none;
}

.card-header button.delete,
button.edit,
button.vote {
    float: right;
    margin: 5px;
}

.card {
    margin-bottom: 50px;
}

.card-body {
    padding: 0;
}

.author-container {
    margin-top: 50px;
}

.author-list {
    margin-top: 25px;
}

.blog-container {
    margin-top: 30px;
}

.blog {
    margin-top: 30px;
}

.hidden {
    display: none;
}

#author-name {
    width: 100%;
    height: 35px;
    margin-top: 5px;
}

.top-30 {
    margin-top: 30px;
}

.caro-caption {
    right: 15%;
    top: 0;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}